@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen bg-slate-100;
}

.button {
    @apply rounded border px-2 py-1 disabled:opacity-50;
}

.box {
    @apply border rounded bg-white drop-shadow-sm p-4;
}

.text-box {
    @apply border px-2 py-1 rounded;
}
